@import url(activitytype.css);

body{color: rgb(0,0,0); background-color: rgb(255,255,255); font: 9pt "Verdana",sans-serif; }

table.header-border-args{
		font-family: Verdana; 
}

table.header-0-args{
	font-size: 2em; 
	font-weight: bold;
	text-align: left;
}

table.header-1-args {
	font-size: 1.2em; 
	text-align: right;
	position: relative;
	top: -20px;
}


span.header-0-0-0{}
span.header-1-2-0{font-weight: bold;}
span.header-1-2-1{}
span.header-1-2-2{}
span.header-1-2-3{}

td.cell-border{
	border-left: 1pt solid rgb(0,0,0); 
	border-top: 1pt solid rgb(0,0,0);
}

td.object-cell-border{
	border: 1pt solid rgb(0,0,0);  
	background-color: #EEEEEE;
}

table.object-cell-args{ 
	text-align: center;
	vertical-align: middle;
	font: 8pt "Verdana",sans-serif; 
}

table.grid-border-args{
	width: 100%; 
	border-right: 1pt solid rgb(0,0,0); 
	border-bottom: 1pt solid rgb(0,0,0);
	margin-bottom: 20px;
}

col.object-cell-0-0 {
	text-align: left; 
	width: auto; 
	text-align: center;
	vertical-align: top;
	font: bold 9pt "Verdana",sans-serif; 
}

col.object-cell-0-1{
	text-align: center; 
}

col.object-cell-0-2{
	text-align: right; 
}

col.object-cell-1-0{
	text-align: left; 
	width: auto; 
	text-align: center;
	vertical-align: bottom;
	font: 8pt "Verdana",sans-serif; 
}

col.object-cell-1-1{
	text-align: center; 
}

col.object-cell-1-2{
	text-align: right; 
	width: auto; 
	text-align: center;
	vertical-align: bottom;
	font: 8pt "Verdana",sans-serif; 
}

col.object-cell-2-0{
	text-align: left; 
	width: 33%; 
	text-align: center;
	vertical-align: bottom;
	font: 8pt "Verdana",sans-serif; 
}

col.object-cell-2-1{
	text-align: center; 
}

col.object-cell-2-2{
	text-align: right; 
	width: 33%; 
	text-align: center;
	vertical-align: bottom;
	font: 8pt "Verdana",sans-serif; 
}

td.row-label-one{
	border-left: 1pt solid rgb(0,0,0); 
	border-top: 1pt solid rgb(0,0,0); 
	width: 5%; 
	white-space: pre; 
	text-align: center;
	vertical-align: middle;
	color: rgb(255,255,255); 
	background-color: #66A300; 
	font: bold 8pt "Verdana",sans-serif; 
	height: 50px;
}

td.row-label-two{
	border-left: 1pt solid rgb(0,0,0); 
	border-top: 1pt solid rgb(0,0,0); 
	width: 5%; 
	white-space: pre; 
}

td.col-label-one{
	border-left: 1pt solid rgb(0,0,0); 
	border-top: 1pt solid rgb(0,0,0); 
	text-align: left;
	vertical-align: middle;
	color: rgb(255,255,255); 
	background-color: #66A300;
	font: bold 8pt "Verdana",sans-serif; 
}

td.col-label-two{
	border-left: 1pt solid rgb(0,0,0); 
	border-top: 1pt solid rgb(0,0,0); 
}



.spreadsheet td {
	border-bottom: 1px solid black;
}

table.spreadsheet {
	width: 100%;
	text-align: left;
	vertical-align: middle;
	font: 8pt "Verdana",sans-serif;
        border: 1px solid black;
	border-collapse: collapse;
}



tr.columnTitles {
	text-align: center !important;
	vertical-align: middle;
	color: white;
	background-color:  #66A300; 
	font: bold 8pt "Verdana",sans-serif; 
	border: 1px solid black;
	border-bottom: 1px solid black;
}

.spreadsheet col.column0 {
	text-align: left;
	vertical-align: middle;
	border: 1px solid black;
	width: 30%;
}
 
.spreadsheet col.column1 {
	text-align: left;
	vertical-align: middle;
	border: 1px solid black;
	width: 5%;

}
 
.spreadsheet col.column2 {
	text-align: center;
	vertical-align: middle;
	border: 1px solid black;
	width: 5%;
}
 
.spreadsheet col.column3 {
	text-align: center;
	vertical-align: middle;
	border: 1px solid black;
	width: 5%;
}
 
.spreadsheet col.column4 {
	text-align: center;
	vertical-align: middle;
	border: 1px solid black;
	width: 10%;
}
 
.spreadsheet col.column5 {
	text-align: center;
	vertical-align: middle;
	border: 1px solid black;
	width:15%;
}
 
.spreadsheet col.column6 {
	text-align: left;
	vertical-align: middle;
	border: 1px solid black;
	width: 15%;
}
 
.spreadsheet col.column7 {
	text-align: left;
	vertical-align: middle;
	border: 1px solid black;
	width: 15%;
}
 
span.labelone{
	font: bold 10pt "Verdana",sans-serif; 
}

span.labeltwo {
	text-align: center;
	vertical-align: middle;
	font: 8pt "Verdana",sans-serif; 
}
