
<!--
.bg1 {background-color: #FFFFFF;}

.bg3 {background-color: #FFFFFF;}

.bgtabon {background-color: #195E63;}

.bgtaboff {background-color: #f3f5f7;}

.texttabon {color: #FFFFFF;}

.texttaboff {color: #195E63;}

td.tabon { background-color: #195E63; color: #FFFFFF; }
.tabon A:link { color: #FFFFFF; }
.tabon A:visited { color: #FFFFFF; }
.tabon A:active { color: #FFFFFF; }
.tabon A:hover { color: #FFFFFF; }

td.taboff { background-color: #f3f5f7; color: #195E63; }
.taboff A:link { color: #195E63; }
.taboff A:visited { color: #195E63;  }
.taboff A:active { color: #195E63;  }
.taboff A:hover { color: #195E63;  }

.ChanBoxBg {background-image: url(/media/org/jasig/portal/channels/CUserPreferences/tab-column/channel/chan_box_bg.gif); background-color: #FFFFFF;}
.setupBox {border:2px #195E63 solid;}
-->
